{% extends 'events/base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<h1>Add Venue To Database</h1><br/>
		<!-- Id : {{ user.id }} -->
		{% if submitted %}
			Your venue was submitted successfully!!
		{% else %}
			<form  action="" method="POST">
			{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Submit" class="btn btn-secondary">
		</form>
		{% endif%}
	{% else %}
		<h3>Sorry!You must be logged in to view this page... </h3>
		<a href="{% url 'login' %}">Login</a>
	{% endif %}

		
{% endblock %}
