{% extends 'events/base.html' %}

{% block content %}
	<div class="card">
	  <div class="card-header">
	    {% if searched %}
			You searched for...{{ searched }}
		{% else %}
			Search Events..
		{% endif %}
		<br/>
	  </div>
	  <div class="card-body">
		 <form method="post" action="{% url 'search-events' %}" role="search">
	        {% csrf_token %}
	        <input class="form-control me-2" type="search" placeholder="Search Venues" name="searched" aria-label="Search"><br/>
	        <button class="btn btn-outline-secondary" type="submit">Search</button>
	     </form>
	   </div>
	  </div> 
	  <br/>
	

		{% for event in events %}
			<div class="card">
			  <div class="card-header">
			    <strong>{{ event }}</strong>
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Venue: {{ event.venue }}</h5>
			    <p class="card-text">
						<li>Date: {{ event.event_date }}</li>
						<li>Venue Website: {{ event.venue.web }}</li>
						<li>Manager: {{ event.manager }}</li>
						<li>Description: {{ event.description }}</li>
						<li>Attendees: 
							<ol>
								{% for user in event.attendees.all%}
									<li>{{ user }}</li>		
								{% endfor %}
							</ol>
							
						</li>
			    </p>
			  </div>

			  {% if user.is_authenticated %}
			    {% if user == event.manager %}
				  <div class="card-footer text-muted">
				  	<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>

				  	<a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
				  </div>
				 {% endif %}
			  {% endif %}
			</div>

			
			<br/><br/>
		{% endfor %}

{% endblock %}
