{% extends 'events/base.html' %}

{% block content %}

	<div class="card">
		<div class="card-header">
	    	Venue
	  	</div>
	  	<div class="card-body">
	    <h5 class="card-title">{{ venue }}</h5>
	    <p class="card-text">
	    	<ul>
	    		
				<li><strong>Address:</strong> {{ venue.address }}</li>
				<li><strong>Zip Code:</strong> {{ venue.zip_code }}</li>
				<li><strong>Phone:</strong> {{ venue.phone }}</li>
				{% if venue.emial_address %}
					<li><strong>Email Address:</strong> {{ venue.email_address }}</li>
				{% endif %}

				{% if venue.web %}
					<li>
						<strong>Website:</strong> <a href="{{ venue.web  }}"> 
							{{ venue.web }}
						</a>
					</li>
				{% endif %}
			</ul>		
				
	    </p>
	</div>
	
{% endblock %}
